import React from 'react';

type Props = {
  // TODO: this is the object returned by `getProvidedProps` from the connector.
};

export const {{ pascalCaseName }}Component = ({}: Props) => {
  return (
    <div>
      {/* TODO: render something */}
    </div>
  );
};
