.header {
  align-items: center;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  display: flex;
  margin-bottom: 2rem;
  min-height: 50px;
  padding: 0 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title,
.header-subtitle {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-subtitle::before {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.filters {
  top: 1rem;
}

article h1 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

article p {
  color: #5a5e9a;
}
